* {
  margin: 0;
  padding: 0;
}
.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
}
.nav-link {
  text-decoration: none;
  color: black;
}

section {
  margin-bottom: 20vh;
}

label {
  margin: 1vh;
}
.contact-text {
  font-size: 2rem;
}
.intro-content {
  height: 1vh;
}

.col-6 {
  text-align: center;
}

.intro-content--text {
  font-size: 5vh;
  text-align: center;
}

.fa-robot {
  font-size: 1.5rem;
  margin-right: 5px;
}

.navbar-brand-text {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bolder;
  font-family: monospace;
  color: black;
}

p {
  font-size: 2rem;
}
