* {
  margin: 0;
  padding: 0;
}
.navbar {
  position: fixed;
  width: 100vw;
}
.nav-link {
  text-decoration: none;
  color: black;
}

.nav-item {
  list-style: none;
  display: inline;
  margin: 10px;
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-github-square {
  color: #333;
}

.list-header {
  font-size: 1.2rem;
  margin-top: 15px;
  text-align: center;
}

.list-languages {
  padding: 0;
}

.a-signature {
  text-decoration: none;
  color: black;
}
.p-signature {
  text-align: center;
}

.list-languages-item {
  list-style: none;
  text-align: center;
}

.row {
  margin-bottom: 20vh;
}

.list-socials {
  padding: 0;
}

.signature-container {
  height: 100px;
}

label {
  margin: 1vh;
}

.projects-header {
  margin-bottom: 10vh;
}

.intro-content {
  height: 1vh;
}

.contact-header {
  margin-bottom: 5vh;
}

.form-control {
  width: 100%;
  margin-bottom: 1vh;
}

.form-contact {
  justify-content: center;
}

.intro-content--text {
  font-size: 4vh;
  text-align: center;
}

.fa-robot {
  font-size: 1.5rem;
  margin-right: 5px;
}

.navbar-brand-text {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bolder;
  font-family: monospace;
  color: black;
}

.p-text {
  font-size: 1.5rem;
}

.submit-button {
  padding: 5px;
  border-radius: 10px;
}
